<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <title>Monome Grid + Electron + Live</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<h1>Monome Grid + Electron + Live</h1>

<div id="sequencer-steps" class="wrapper">
  <div class="active wrapper step-0"><span></span></div>
  <div class="active wrapper step-1"><span></span></div>
  <div class="active wrapper step-2"><span></span></div>
  <div class="active wrapper step-3"><span></span></div>
  <div class="active wrapper step-4"><span></span></div>
  <div class="active wrapper step-5"><span></span></div>
  <div class="active wrapper step-6"><span></span></div>
  <div class="active wrapper step-7"><span></span></div>
  <div class="active wrapper step-8"><span></span></div>
  <div class="active wrapper step-9"><span></span></div>
  <div class="active wrapper step-10"><span></span></div>
  <div class="active wrapper step-11"><span></span></div>
  <div class="active wrapper step-12"><span></span></div>
  <div class="active wrapper step-13"><span></span></div>
  <div class="active wrapper step-14"><span></span></div>
  <div class="active wrapper step-15"><span></span></div>
</div>

<script src="js/ui.js"></script>
</body>
</html>
